 
<%= form_with(scope: :session,  :html => {:class => 'login-register-form' },  url: login_path) do |f|  %>
 
<div class="form-group">
  <%= f.label :username %><br/>
  <%= f.text_field :username, class: "form-control" %>
</div>
 
<div class="form-group">
  <%= f.label :password %><br/>
  <%= f.password_field :password, class: "form-control" %>
</div>
 
<div class="form-group">
  <%= f.submit "Log in", class: "btn btn-primary" %>
</div>
 
<% end %>
 