<p id="notice"><%= notice %></p>

<h1>Applications</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>User</th>
      <th>Job</th>
      <th>Seen</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @applications.each do |application| %>
      <tr>
        <td><%= application.user_id %></td>
        <td><%= application.job_id %></td>
        <td><%= application.seen %></td>
        <td><%= link_to 'Show', application %></td>
        <td><%= link_to 'Edit', edit_application_path(application) %></td>
      <!--   <td><%= link_to 'Destroy', application, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Application', new_application_path %>
