


<h1>My Applicatios</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Job</th>
      <th>Seen</th>
      <th>Submitted at</th>
    </tr>
  </thead>

  <tbody>
    <% @applications.each do |application| %>
      <tr>
        <td><%= Job.find(application.job_id).title %>    </td>
        <td>    <%= application.seen ? 'Yes':'No' %></td>
           <td>    <%= time_ago_in_words(application.created_at)  %></td>
      </tr>
    <% end %>
  </tbody>
</table>