<div class = "text-center">
  <div class = "card success">


  <div class="svg-container">    
      <svg class="ft-green-tick" xmlns="http://www.w3.org/2000/svg" height="100" width="100" viewBox="0 0 48 48" aria-hidden="true">
          <circle class="circle" fill="#5bb543" cx="24" cy="24" r="22"/>
          <path class="tick" fill="none" stroke="#FFF" stroke-width="6" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M14 27l5.917 4.917L34 17"/>
      </svg>
  </div>
  <br>
    <p id="notice"><%= notice %></p>

  <p>
    <strong>User:</strong><%=   User.find(@application.user_id).username%>
  </p>

  <p>
    <strong>Job:</strong>
  <%=   Job.find(@application.job_id ).title%>
  </p>

  <p>
    <strong>Seen:</strong>
    <%= @application.seen ? 'Yes':'No' %>
  </p>

  <!--  <%= link_to 'Edit', edit_application_path(@application) %> -->
  <!-- <%= link_to 'Back', applications_path %> -->
  </div>
</div>
