<%= form_with(model: job,  :html => {:class => 'login-register-form' }) do |form| %>
  <% if job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
        <% job.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :title %>
    <%= form.text_field :title ,:class => 'form-control' %>
  </div>
   <div class="field form-group">
    <%= form.label :salary %>
    <%= form.text_field :salary ,:class => 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :description %>
    <%= form.text_area :description ,:class => 'form-control' %>
  </div>
  
  <div class="field form-group">
    <%= form.label :location %>
    <%= form.text_field :location  ,:class => 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :fullTime %>
    <%= form.check_box :fullTime %>
  </div>

   <div class="field form-group">
    <%= form.label :expiry_date %>
   <%= form.date_field :expiry_date, :id => "datepicker" ,:class => 'form-control' %>


  </div>
 
   <div class="actions field form-group">
    <%= form.submit   :class => 'btn w-100 pt-20 pb-20'  %>
  </div>
<% end %>
