


<%= form_with(model: @user, local: true,  :html => {:class => 'login-register-form' }) do |f| %>
 <h1 class ='text-center' >Create an Account</h1>
<div class="form-group">
  <%= f.label :username %><br/>
  <%= f.text_field :username, class: "form-control" %>
</div>
 
<div class="form-group">
  <%= f.label :email %><br/>
  <%= f.email_field :email, class: "form-control" %>
</div>
 
<div class="form-group">
  <%= f.label :password %><br/>
  <%= f.password_field :password, class: "form-control" %>
</div>
 
<div class="form-group">
  <%= f.submit "Register", class: "btn btn-primary pt-20 pb-20 w-100" %>
</div>

<% end %>
