/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .login-register-form{
    width: 37em;
    margin: 0 auto;
    background: #ededed;
    padding: 2em;
    border-radius: 7px;
    
 }
 main{
    padding-top: 3em;
 }
 main .content{
    min-height: 25em;
 }
 .headder-top{
    background: #f8f7fb;
    box-shadow: -2px 2px #f3f3f3;
 }
 select{
    border-radius: 5px;
        padding: 4px;
        font-size: 17px;
 }
 .card.success {
    width: 50%;
    border-radius: 11px;
    background: #f8f7fb;
    margin: 0 auto;
    margin-bottom: 2em;
 }
 .btn-new-job{
    background: #f0e9ff;
    padding: 7px;
    border-radius: 6px;
 }
 .btn.head-btn2 a{
color: gray;
 }
